@model TransportFleetManagementSystem.Model.Trip

@{
    ViewData["Title"] = "Trip Details";
}


<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.TripId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>